$linkBlockWidth: 180px;
$linkBigBlockWidth: 300px;

.link-block {
  min-width: $linkBlockWidth;
  max-width: $linkBlockWidth;
  overflow: hidden;

  .images-block {
    min-width: $linkBlockWidth;
    max-width: $linkBlockWidth;
    min-height: $linkBlockWidth;
    max-height: $linkBlockWidth;
    background-color: var(--colorActionPrimary);
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  .content {
    padding: var(--spacingItemsClose);
  }

  &.big {
    min-width: $linkBigBlockWidth;
    max-width: $linkBigBlockWidth;

    .images-block {
      min-width: $linkBigBlockWidth;
      max-width: $linkBigBlockWidth;
      min-height: $linkBigBlockWidth;
      max-height: $linkBigBlockWidth;
    }
  }
}
