$shortCardHeight: 64px;
$shortCardDynamicButtonPosition: calc(
  ($shortCardHeight - var(--sizeButtonHeight)) * 0.5
);
$bigCardWidth: 200px;
$bigCardPlayButtonSize: 5rem;
$bigCardPlayButtonIconSize: 3rem;
$bigCardDynamicButtonPosition: calc(
  ($bigCardWidth - $bigCardPlayButtonSize) * 0.5
);

.short-song-card {
  max-width: 100%;
  min-width: 300px;
  background-color: var(--colorBackgroundMenu);
  overflow: hidden;
  border-radius: var(--borderRadiusFormElement);
  cursor: default;

  .short-song-card-image {
    max-width: $shortCardHeight;
    max-height: $shortCardHeight;
    min-width: $shortCardHeight;
    min-height: $shortCardHeight;
    position: relative;
    overflow: hidden;

    img {
      max-width: 100%;
    }

    .short-song-card-play {
      position: absolute;
      display: none;
      cursor: pointer;
      top: $shortCardDynamicButtonPosition;
      left: $shortCardDynamicButtonPosition;
    }
  }

  &:hover {
    .short-song-card-image {
      .short-song-card-play {
        display: flex;
      }
    }
  }

  .short-song-card-info {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: left;
    padding: var(--spacingItemsAlmostSame);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .short-song-card-actions {
      display: none;
      position: absolute;
      cursor: pointer;
      gap: var(--spacingItemsAlmostSame);
      right: $shortCardDynamicButtonPosition;
      top: $shortCardDynamicButtonPosition;
    }

    &:hover {
      .short-song-card-actions {
        display: flex;
      }
    }
  }
}

.big-song-card-container {
  max-width: $bigCardWidth;
  min-width: $bigCardWidth;
  background-color: var(--colorBackgroundMenu);
  overflow: hidden;
  border-radius: var(--borderRadiusFormElement);
  cursor: default;
  padding: var(--spacingItemsAlmostSame);

  .big-song-card-image {
    max-width: $bigCardWidth;
    max-height: $bigCardWidth;
    min-width: $bigCardWidth;
    min-height: $bigCardWidth;
    position: relative;
    overflow: hidden;

    img {
      min-width: 100%;
    }

    .big-song-card-play {
      position: absolute;
      display: none;
      cursor: pointer;
      top: $bigCardDynamicButtonPosition;
      left: $bigCardDynamicButtonPosition;
      min-width: $bigCardPlayButtonSize;
      min-height: $bigCardPlayButtonSize;

      > span {
        font-size: $bigCardPlayButtonIconSize !important;
      }
    }

    &:hover {
      .big-song-card-play {
        display: flex;
      }
    }
  }

  .big-song-card-primary {
    display: flex;
    align-items: center;
    position: relative;
    min-height: var(--sizeButtonHeight);
    line-height: var(--sizeButtonHeight);
    margin-bottom: var(--spacingItemsAlmostSame);

    .big-song-card-actions {
      display: none;
      position: absolute;
      cursor: pointer;
      gap: var(--spacingItemsAlmostSame);
      right: 0;
      top: 0;
    }
  }

  &:hover {
    .big-song-card-primary {
      .big-song-card-actions {
        display: flex;
      }
    }
  }
}
